# Dependencies
node_modules
dist
dist-iframe

# Build outputs
*.tsbuildinfo

# Environment files
.env.local

# Logs
*.log

# IDE
.vscode
.idea

# Test coverage
coverage

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Documentation
doc
docs
*.md
